.error {
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
}

.cocic {
    margin: 0 auto;
    width: 260px;
    height: 230px;
    background: url('https://thumbs.gfycat.com/UncommonWateryBullmastiff-max-1mb.gif')
}